*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header h1 {
    font-size: 24px;
    color: black;
    margin-left: 15px;
}

.logo {
    width: 70px;
}
header input {
    padding: 10px;
    width: 200px;
}
header form {
    padding: 10px;
}
header button {
    padding: 10px;
    background-color:rgb(241, 231, 220) ;
    color: black;
    border: 1px solid beige;
}

.formulario {
    width: 450px;
    padding: 20px;
    border: 1px solid beige;
    background-color: rgb(241, 231, 220);
}
.formularioinput {
    width: 100%;
    padding: 10px;
}
.formularioespacio {
    margin-bottom: 15px;
}
.formulariolink {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: black;
}
.botoningresar {
    width: 100%;
    padding: 10px;
    background-color: rgb(146, 98, 56);
    color: white;
    border: none;
}
.secciontitulo {
    text-align: center;
    margin-bottom: 20px;
}
.marca{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-principal ul{
    display: flex;
    list-style: none;
}
.nav-principal li{
    padding: 10px;
    
}
.nav-principal a {
    color: black;
    text-decoration: none;
}
.nav-secundario {
    width: 200px;
    padding: 20px;
    background-color: rgb(241, 231, 220);
}

.nav-secundario ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-secundario li {
    padding: 10px;
    border-bottom: 1px solid black;
}
.nav-secundario a {
    color: black;
    text-decoration: none;
}
article {
    width: 250px;
    padding: 20px;
    border: 1px solid black;
}

article img {
    width: 100%;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.contenido-principal {
    display: flex;
}

.contenido-productos {
    display: flex;
    flex-direction: column;
}

.boton-detalle {
    background-color: rgb(146, 98, 56);
    color: white; 
    padding: 10px;
    text-decoration: none;
}
.contenido-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 200px;

}
.contenido-register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 200px;
}

.imagen-blackopium {
    width: 550px;
    padding: 30px;
}
.nombre-perfume{
    font-size: 32px;
    margin: 10px 0;
}
.contenido-blackopium {
     width: 100%;
    padding: 30px;
}
.detalle-blackopium {
    padding: 20px;
}
.producto-info {
    width: 450px;
    padding: 30px;
    margin: 80px;
}
.producto-imagen {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.precio {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.marca-product {
    font-size: 20px;
}
.datos-producto {
    background-color: rgb(241, 231, 220);
    padding: 15px;
}
.datos-producto ul {
    display: flex;
    list-style: none;
}
.datos-producto li {
    background-color: white;
    padding: 8px;
    margin: 5px;
}
.reviews {
    margin: 20px;
}
.reviews article {
    width: 30%;
    padding: 25px;
    border: 2px solid beige;
}
.reviews-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(146, 98, 56);
    color: white;
}

@media (max-width: 768px){
header {
   flex-direction: column;
}
.contenido-principal{
    flex-direction: column;
}
article{
    width: 100%;
}
.nav-secundario {
    width: 100%;
}
.nav-principal ul{
    justify-content: center;
}
.nav-principal li{
   padding: 7px;
}
header form{
    padding: 10px;
}
header input {
    padding: 8px;
}
header button {
    padding: 8px;
}
}

